.avatar-entering,
.self-intro-entering,
.self-descr-entering,
.self-edu-entering {
  opacity: 0;
  transform: translateX(30%);
}

.avatar-entered,
.self-intro-entered,
.self-descr-entered,
.self-edu-entered {
  opacity: 1;
  transform: translateX(0);
}

.avatar-entered {
  transition: all 1s;
}

.self-intro-entered {
  transition: all 1s 0.5s;
}

.self-descr-entered {
  transition: all 1s 1s;
}

.self-edu-entered {
  transition: all 1s 1.5s;
}