.avatar-appear,
.self-intro-appear,
.self-descr-appear,
.self-edu-appear {
  opacity: 0;
  transform: translateX(30%);
}

.avatar-appear-active,
.self-intro-appear-active,
.self-descr-appear-active,
.self-edu-appear-active {
  opacity: 1;
  transform: translateX(0);
}

.avatar-appear-active {
  transition: all 1s;
}

.self-intro-appear-active {
  transition: all 1s 0.5s;
}

.self-descr-appear-active {
  transition: all 1s 1s;
}

.self-edu-appear-active {
  transition: all 1s 1.5s;
}